.sidebar__container {
  background-color: white;
  width: 300px;
  height: 100vh;
  border-right: 1px solid grey;
  /* position: fixed; */
  /* left: 0; */
}

.sidebar__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}

.sidebar__label {
  display: flex;
  align-items: center;
}
